# See https://nextjs.org/docs/basic-features/environment-variables
NODE_PORT=8802
# NODE_ENV=development

DOMAIN_NAME=http://topdev.local.com
COOKIE_DOMAIN=topdev.local.com

API_CVBUILDER_URL=http://api.topdev.local/cvbuilder/api
API_AMS_ORIGINAL=http://api.topdev.local
API_AMS_URL=http://api.topdev.local/td/v2
API_ACCOUNT=http://accounts.topdev.local.com
API_PERSONALITY_TEST=http://api.topdev.local/personality-test

OAUTH2_CLIENT_ID=6
OAUTH2_CLIENT_SECRET=KNiI4zuS5GbBEBBt88gdfbDORtBp5KYF6mdeKQKU
OAUTH2_URL_CALLBACK=http://topdev.local.com/users/oauth2/callback
OAUTH2_URL_AUTHORIZE=http://accounts.topdev.local.com/oauth/authorize
OAUTH2_URL_ACCESSTOKEN=http://accounts.topdev.local.com/oauth/token
OAUTH2_URL_LOGOUT=http://accounts.topdev.local.com/logout
OAUTH2_URL_RESOURCE_OWNER=http://accounts.topdev.local.com/api/v1/user
OAUTH2_URL_CHECK_COOKIE=http://accounts.topdev.local.com/check-auth
OAUTH2_SESSION_ID=TDSID

SESSION_SECRET="s%3Al3ozSdvQ83TtC5RvJ.CibaQoHtaY0H3QOB1kqR8H2A"
TINYMCE_KEY=syz389tw8ttqadzyx9gk2z5qooums4rs2apcdp7dodxxy87m
HOST_DOMAIN=http://topdev.local.com

LINK_PROMO_APP=http://topdev.local.com/mobile?src=topdev&medium=header
LINK_PROMO_APP2=http://topdev.local.com/mobile?src=topdev&medium=header
LINK_APP_ANDROID=https://play.google.com/store/apps/details?id=it.jobs.topdev&referrer=utm_source%3Dtopdev%26utm_medium%3Dfooter_default
LINK_APP_IOS=http://topdev.local.com/s/MrEHZlyk
LINK_PROMO_APP_MOBILE_ANDROID=https://play.google.com/store/apps/details?id=it.jobs.topdev&referrer=utm_source%3Dtopdev%26utm_medium%3Dfooter_banner
LINK_PROMO_APP_MOBILE_IOS=http://topdev.local.com/s/C1ssjxGm

# https://github.com/vercel/next.js/tree/canary/examples/with-google-tag-manager
NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID=GTM-W5H54JP
GTM_ID=GTM-W5H54JP
GTM_AUTH=
GTM_PREVIEW=

#NODE_TLS_REJECT_UNAUTHORIZED=0
LINK_CREATE_CV=//topdev.local.com/users/dash?openPopupCreate=1

# Firebase notification
FIREBASE_API_KEY=AIzaSyD6XzN681ErP8OZUsRO4YjyZY2WFDQhCd4
FIREBASE_APP_API=1:411032683275:web:0344a795a0930a26ead80e
FIREBASE_AUTH_DOMAIN=duy-test-notification.firebaseapp.com
FIREBASE_PROJECT_ID=duy-test-notification
FIREBASE_STORAGE_BUCKET=duy-test-notification.appspot.com
FIREBASE_SENDER_ID=411032683275
FIREBASE_VAPID_KEY=BHUhmgi_mJf-NPgO2kTuZjs56UJPRzDLDc7PoWmv1juj9TdrWmKanObH7aYH3c9-G9Z1Ol96Z6oJ2wHbYWdg33Y

# Sentry
SENTRY_DSN=

# https://nextjs.org/docs/advanced-features/debugging
# https://nodejs.org/en/docs/guides/debugging-getting-started/
# NODE_OPTIONS='--inspect'

NEXT_PUBLIC_GTAG_ENABLE=false #Enable gtag
